/* page */



.container {
	max-width: 800px;
	height: 899px;
	margin: auto;

}


/* header */

.header {
	margin-bottom: 10px;
}

img.logo {
	height:30px;
	display: inline-block;
}

p {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 10px;
}

p.sign {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	display: inline-block;
	float: right;
	margin-right: 20px;
}



/* main section */

h3 {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
	width: 700px;
	height: 800px;
	font-weight: normal;
	color: #333333;
	background-color: white;
	position: relative;
	padding: 43px 50px 50px 50px;
	min-height: 330px;	
	box-shadow: 1px 1px 7px 0px #888888;
	border-radius: 1px;
}

.left {
	display:inline-block;
	line-height: 1.5em;
	max-width: 400px;
}

label {
	display:block;
	margin-top: 40px;
	margin-bottom: 10px;
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
}

input.blank {
	box-shadow: none;
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	width: 320px;
	height: 34px;
	line-height: 19px;
}

h2 {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 30px;
	font-weight: 300;
	line-height: 45px;
}

h3 {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 20px;
	line-height: 30px;
	color: #666;
	font-weight: 500;
}

ul.why {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 12px;
	font-weight: normal;

	list-style-position: outside;

}
li {
	padding: 0 5px 5px 0px;
	margin: 0 0 10px 0;
}

/* sidebar */

aside.total {
	position: absolute;
	height: 580px;
	width: 222px;
	border-left: 1px solid #d3d3d3;
	margin: 0 -25px 0 0;
	right: 50px;
	display: block;
}

aside.gray {

	
	float:right;
	color: #cccccc;
	background-color: #f5f5f5;
	height: 540px;
	width: 140px;
	display: block;
	margin: 0 0 0 25px;
	padding: 21px 17px 19px 40px;
	line-height: 21px;
	font-weight: normal;

}

div.btn {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 34px;
	width: 93px;
	background-color: #45cae6;
	color: white;
	text-transform:uppercase;
	line-height: 34px;
	text-align: center;
	font-size: 13.5px;
	border-radius: 3px;
	margin-top: 40px;
}

input.box {
	height: 19px;
	width: 19px;
	border: 1px solid #d8d8d8;
	padding: 0 0 5px 0;
	background-color: #ffffff;
	color: #333333;
	
	border-radius: 3px;
}

span.remember {
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 10px;
	font-size: 14px;
}